@use '../utils/mixins' as utils;
@use '../globals/typography' as fonts;

$secondary-Color: rgb(184, 95, 79);

%bounce {
  animation: name duration timing-function delay iteration-count direction;
}

.hero {
  height: 75vh;
  @include utils.container();
  @include utils.flexContainer(row);
  align-items: flex-start;
  margin-top: 5rem;
  gap: 5%;

  &__container {
    @include utils.flexContainer(column);
    align-items: left;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    gap: 2.5rem;
    width: 55%;
  }

  &__heading {
    font-family: fonts.$secondary-font;
    letter-spacing: 1px;
    margin-top: 0;
  }

  &__content {
    color: rgba(0, 0, 0, 0.7);
    font-family: fonts.$primary-font;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-right: auto;
    width: 90%;
  }

  & .action-container {
    @include utils.flexContainer(row);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: min(100%, 25rem);
    padding: 0.5rem;
  }

  .action__icon-wrapper {
    cursor: pointer;
    background: linear-gradient(120deg, rgb(207, 146, 135), tomato);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    transition: all 300ms ease-out;
    box-shadow: 0px 0px 3px lightblue;
  }

  .action__icon-wrapper:hover {
    transform: scale(1.1);
  }

  .action__icon {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.8);
    transition: all 300ms ease-out;
  }

  .action__icon:hover {
    color: black;
  }

  .hero__link {
    color: $secondary-Color;
    text-transform: capitalize;
    font-size: 3rem;
    font-family: fonts.$secondary-font;
    font-weight: 900;
    letter-spacing: 1.5px;
    transition: all 300ms ease-out;
  }

  .hero__link:hover {
    font-size: 3rem;
    color: black;
    transform: translateY(5%) skewY(-5deg);
    transform-origin: center;
  }

  &__image-wrapper {
    position: relative;
    width: 45%;
    height: 100%;
    box-shadow: 1px 1px 0 lightgray;
    border-radius: 3px;
    text-align: right;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
  }

  &__image-png {
    display: none;
  }
}
