@use '../utils/mixins' as utils;
@use '../globals/typography' as fonts;

$secondary-Color: rgb(184, 95, 79);

.hero {
  height: 75vh;
  @include utils.container();
  @include utils.flexContainer(row);
  align-items: flex-start;
  margin-top: 5rem;
  gap: 5%;

  &__container {
    @include utils.flexContainer(column);
    align-items: left;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    gap: 2.5rem;
    width: 55%;
  }

  &__heading {
    font-family: fonts.$secondary-font;
    letter-spacing: 1px;
    margin-top: 0;
  }

  &__content {
    color: rgba(0, 0, 0, 0.7);
    font-family: fonts.$primary-font;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-right: auto;
    width: 90%;
  }

  & .action-container {
    @include utils.flexContainer(row);
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    gap: 2rem;
    width: min(100%, 20rem);
    padding: 0.5rem;
  }

  .hero__link {
    color: $secondary-Color;
    text-transform: capitalize;
    font-size: 3rem;
    font-family: fonts.$primary-font;
    font-weight: 900;
    letter-spacing: 1.5px;
    transition: all 300ms ease-out;
  }

  .hero__link:hover {
    font-size: 3rem;
    color: black;
    transform: skewY(-5deg);
  }

  &__image-wrapper {
    width: 45%;
    height: 100%;
    box-shadow: 1px 1px 0 lightgray;
    border-radius: 3px;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__image-png {
    display: none;
  }
}
