$laptopWidth: 108rem;

@mixin container($device-width: $laptopWidth) {
  width: min(100%, $device-width);
  margin: 0 auto;
}

@mixin gridContainer() {
  display: grid;
  display: flex;
}

@mixin flexContainer($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin centerElements {
  display: flex;
  justify-content: center;
  align-items: center;
}
